@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=WDXL+Lubrifont+TC&display=swap');

#nomem {
  flex-wrap: wrap;
  font-family: 'Bebas Neue', cursive;
  margin-left: 10px;
  text-align: center;

}

body {
      margin: 0;
      background-color: #1f2833;
      color: white;
      height: 100vh;
}

#nav {
  background-color: #12171d;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #66fcf1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contenedor-busqueda {
  position: relative;
  justify-content: center;
  width: 100%;
}

.barra-busqueda {
  display: flex;
  align-items: center;
  border: 2px solid #66fcf1;
  border-radius: 8px;
  padding: 0 16px;
  height: 48px;
  width: 400px;
  background-color: transparent;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.barra-busqueda input {
  background: none;
  border: none;
  outline: none;
  color: #66fcf1;
  font-size: 16px;
  flex: 1;
}

.barra-busqueda i {
  color: #66fcf1;
  font-size: 18px;
  margin-left: 8px;
}

/* Versión solo lupa para pantallas pequeñas */
@media (max-width: 500px) {
  .barra-busqueda input {
    display: none;
  }

  .barra-busqueda {
    width: auto;
    padding: 0 12px;
    justify-content: center;
  }
}

.botones {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.boton-con-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.btn-icono {
  background: none;
  border: none;
  color: #66fcf1;
  font-size: 28px;
  padding: 20px;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-icono:hover {
  background-color: rgba(102, 252, 241, 0.1);
  transform: scale(1.1);
}

.tooltip {
  background: none;
  color: #66fcf1;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.boton-con-tooltip:hover .tooltip {
  opacity: 1;
}