
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=WDXL+Lubrifont+TC&display=swap');
#nomem{
flex-wrap: wrap;
font-family:    'Bebas Neue', cursive;
margin-left: 10px;

}
#menudenav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#barr{
    flex-wrap: wrap;
    border-radius: 10px;
    width: 300px;
    height: 20px;
    margin-top: 30px;
    margin-left: 20px;
}

